In [1]:
#Dependencies
import pandas as pd
import tweepy
from datetime import datetime as dt
from pprint import pprint
import numpy as np
import re
from time import strftime
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

from apikeys import consumer_key, consumer_secret, access_token, access_token_secret




import requests
import json
from apikeys import av_key
import pandas as pd
import os
import csv
import sys

In [2]:
# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [37]:
# Target User
target_user = "@realDonaldTrump"


# Variable to hold Tweet Texts, created date, number of retweets, number of likes
tweet_texts = []
created_date =[]
retweets=[]
likes=[]


# Create a loop to iteratively run API requests to bypass weekly tweeter API limit
for x in range(1,160):

    # Get all tweets from Trump home feed (for specified number of pages)
    public_tweets = api.user_timeline(target_user, page=x)

    # Loop through all tweets
    for tweet in public_tweets:
        #Converting text to lower case
        txt = tweet['text'].lower()
        tweet_texts.append(txt)
        created_date.append(tweet["created_at"])
        retweets.append(tweet["retweet_count"])
        likes.append(tweet["favorite_count"])
        
#Created new dictionary to hold above variables
trump_tweets = {
                "Tweet" : tweet_texts,
                "Date" : created_date,
                "Retweets" : retweets,
                "Likes" : likes,
                }

#Converted dictionary to dataframe 
trump_tweets = pd.DataFrame(trump_tweets)
trump_tweets.head(5)

# print(len(trump_tweets))

,Date,Likes,Retweets,Tweet
0,Thu Jun 28 20:49:55 +0000 2018,59895,12850,"prior to departing wisconsin, i was briefed on..."
1,Thu Jun 28 19:09:42 +0000 2018,33943,8109,america is open for business! \nhttps://t.co/f...
2,Thu Jun 28 18:57:22 +0000 2018,60279,14544,"today, we broke ground on a plant that will pr..."
3,Thu Jun 28 13:06:01 +0000 2018,75446,14516,"i am in milwaukee, wisconsin, for meetings. so..."
4,Thu Jun 28 12:56:17 +0000 2018,57398,14001,....persecuted on old and/or totally unrelated...

In [38]:
# Created list of key words
keywords = ['sad','earnings', 'election', 'futures', 'investor', 'low', 'market', 'nasdaq', 'north korea', 'stock',
'market', 'correction', 'trading', 'unemployment','wall street','china','ban',
'bull', 'kim', 'price', 'high', 'corporate', 'global warming', 'tariff', 'tax cut', 'jobs', 'economy', 'trade', 'missile', 'nuclear', 'jobs', 'wages',
'maga']

In [41]:
#Filtered tweets based on keywords and defined variables to hold
filtered_tweet_texts = []
filtered_created_date =[]
filtered_retweets=[]
filtered_likes=[]
filtered_id=[]
keys=[]
#Variables to hold sentiment analysis
compound_list = []
pos_list = []
neu_list = []
neg_list = []
# i = 0

# Looping through tweets
for tweet in trump_tweets.iterrows():
    for key in keywords:
        #Used regular expression to find specific tweets based on keyword
        if re.search(key,tweet[1]['Tweet']):
            #Not all tweets will have keyword, catching tweets that match
            try:
                filtered_tweet_texts.append(tweet[1]["Tweet"])
                filtered_created_date.append(tweet[1]["Date"])
                filtered_retweets.append(tweet[1]["Retweets"])
                filtered_likes.append(tweet[1]["Likes"])
                keys.append(key)
                # Performed sentiment analysis using Vader
                compound = analyzer.polarity_scores(tweet[1]["Tweet"])["compound"]
                pos = analyzer.polarity_scores(tweet[1]["Tweet"])["pos"]
                neu = analyzer.polarity_scores(tweet[1]["Tweet"])["neu"]
                neg = analyzer.polarity_scores(tweet[1]["Tweet"])["neg"]
                compound_list.append(compound)
                pos_list.append(pos)
                neu_list.append(neu)
                neg_list.append(neg)
#                 i += 1   
            except:
                    print('Missing Data')                      
#Create new dictionary for filtered tweets

filtered_trump_tweets = {
                "Tweet" : filtered_tweet_texts,
                "Date" : filtered_created_date,
                "Retweets" : filtered_retweets,
                "Likes" : filtered_likes,
                "Keyword" : keys,
                "Positive" : pos_list,
                "Negative" : neg_list,
                "Neutral" : neu_list,
                "Compound" : compound_list,
                }               

#Convert dictionary to dataframe
filtered_trump_tweets = pd.DataFrame(filtered_trump_tweets)

#Convert date YYYY/MM/DD format
filtered_trump_tweets["Date"] = pd.to_datetime(filtered_trump_tweets["Date"])
filtered_trump_tweets["Date"] = filtered_trump_tweets["Date"].dt.strftime("%Y-%m-%d")

# filtered_trump_tweets.to_csv("DJ_filter.csv", index=False, header=True,encoding='utf-8-sig')

In [42]:
# Grouping by Tweets and concatenating keywords
grouped_keywords = filtered_trump_tweets.groupby(['Tweet'])['Keyword'].apply(list).reset_index()


#merged grouped data frame with filtered data frame
merged_table = pd.merge(grouped_keywords, filtered_trump_tweets, on="Tweet")
# merged_table=merged_table.drop_duplicates(['Tweet'], keep=False, inplace=False)

#Dropped unwanted column
merged_table = merged_table.drop(['Keyword_y'], axis=1)

#Dropped duplicate tweets
merged_table=merged_table.drop_duplicates(['Tweet'], keep='first', inplace=False).reset_index()

#Display
merged_table

,index,Tweet,Keyword_x,Compound,Date,Likes,Negative,Neutral,Positive,Retweets
0,0,"""20,000üìà21,000üìà22,000üìà 23,000üìàthis year...four...",[maga],0.0000,2017-10-18,55745,0.000,1.000,0.000,13635
1,1,"""after 14 years, u.s. beef hits chinese market...","[market, market, trade]",0.7184,2017-07-12,66419,0.000,0.700,0.300,16740
2,4,"""america's labor market continues to boom"" job...","[market, market, jobs, jobs]",0.0000,2017-07-25,49015,0.000,1.000,0.000,11795
3,8,"""consumer comfort reaches 16-year high on u.s....",[high],0.7351,2017-08-11,50143,0.000,0.556,0.444,11298
4,9,"""consumer confidence hits highest level since ...",[high],0.5106,2017-10-31,39766,0.000,0.769,0.231,9887
5,10,"""consumer confidence soars to highest level si...",[high],0.5106,2017-10-13,46719,0.000,0.732,0.268,10777
6,11,"""corporations have never made as much money as...","[jobs, jobs]",0.4199,2017-08-01,75998,0.000,0.883,0.117,16035
7,13,"""dow passes 23,000 for the first time, fueled ...",[earnings],0.5106,2017-10-17,44359,0.000,0.784,0.216,10862
8,14,"""iran hides behind its assertion of technical ...",[nuclear],-0.6124,2017-10-18,40727,0.227,0.773,0.000,11233
9,15,"""the real big story that affects everybody in ...",[tax cut],0.3818,2018-06-21,47122,0.081,0.775,0.143,11624
10,16,"....""we push for the removal of all trade-dist...",[trade],0.5719,2017-05-27,39437,0.000,0.719,0.281,7044
11,17,.....they can help solve problems with north k...,[north korea],0.2023,2018-03-21,83977,0.112,0.702,0.186,19465
12,18,....and has been horrible on virginia economy....,[economy],-0.5848,2017-11-07,33622,0.296,0.704,0.000,6746
13,19,....and it will get even better with tax cuts!...,[tax cut],0.2481,2017-11-23,49774,0.164,0.597,0.238,9750
14,20,....and japan will put up with this much longe...,"[north korea, china]",-0.5294,2017-07-04,109600,0.120,0.880,0.000,28206
15,22,....came to the campaign. few people knew the ...,[low],-0.6900,2017-10-31,54907,0.206,0.794,0.000,12276
16,23,....for the middle class. the house and senate...,[tax cut],0.2263,2017-11-01,54117,0.081,0.806,0.114,11096
17,24,....germany pays 1% (slowly) of gdp towards na...,[low],-0.1027,2018-06-11,139325,0.062,0.938,0.000,33249
18,25,....immediately fire back if a savage sicko ca...,[high],-0.8360,2018-02-22,100456,0.372,0.628,0.000,21790
19,26,....impartial journalists of a much higher sta...,[high],0.0000,2018-01-02,75456,0.126,0.748,0.126,15825
20,27,....is making. working very hard on tax cuts f...,"[tax cut, jobs, jobs]",-0.4914,2017-11-07,41552,0.244,0.756,0.000,6698
21,30,"....the 2016 election with interviews, speeche...",[election],0.6239,2017-07-01,83922,0.000,0.823,0.177,17039
22,31,....the president obama quote just before elec...,[election],0.5859,2018-02-20,83866,0.000,0.826,0.174,20112
23,32,....this now allows for the passage of large s...,"[low, tax cut]",-0.3595,2017-10-20,72739,0.098,0.902,0.000,14455
24,34,....we are a long way from conclusion on north...,[north korea],0.0000,2018-04-22,104924,0.000,1.000,0.000,21794
25,35,....we are finishing our study of tariffs on c...,[tariff],0.2500,2018-06-26,57844,0.000,0.917,0.083,12530
26,36,....we are getting other countries to reduce a...,"[tariff, trade]",0.0000,2018-06-26,65023,0.000,1.000,0.000,14486
27,38,....when i had harley-davidson officials over ...,[tariff],0.0000,2018-06-26,57297,0.000,1.000,0.000,12463
28,39,"...2nd amendment, strong military, isis, histo...","[low, market, stock, market, unemployment]",0.8439,2017-10-22,76191,0.171,0.405,0.424,16441
29,44,...americans do what we do best: we pull toget...,[sad],0.6705,2017-11-06,82724,0.067,0.707,0.226,17167
...,...,...,...,...,...,...,...,...,...,...
759,1205,working on major trade deal with the united ki...,"[jobs, trade, jobs]",0.6856,2017-07-25,66920,0.071,0.709,0.221,15514
760,1208,would very much appreciate saudi arabia doing ...,[stock],0.7827,2017-11-04,68437,0.000,0.707,0.293,17644
761,1209,wouldn't it be great to repeal the very unfair...,[tax cut],-0.7709,2017-11-01,79845,0.242,0.758,0.000,16624
762,1210,"wow, the highest rated (by far) morning show, ...",[high],0.5859,2018-06-15,88360,0.000,0.847,0.153,14848
763,1211,yesterday was a big day for the stock market. ...,"[market, stock, market, jobs, jobs]",0.0000,2018-01-13,114464,0.000,1.000,0.000,23418
764,1216,"yesterday, i signed the #interdictact (h.r. 21...",[low],0.4019,2018-01-11,57723,0.000,0.870,0.130,13160
765,1217,you are witnessing the single greatest witch h...,[maga],-0.3367,2017-06-15,115202,0.229,0.625,0.146,33566
766,1218,"‚Äú$3 billion payoff: 101 utilities cut rates, c...",[tax cut],0.1280,2018-06-07,42217,0.143,0.680,0.177,10794
767,1219,‚Äú45 year low in illegal immigration this year....,[low],-0.6908,2018-01-11,81916,0.449,0.551,0.000,15313
768,1220,‚Äúamerican consumers are the most confident the...,"[market, market]",0.9099,2018-02-27,56899,0.000,0.528,0.472,13127
769,1222,‚Äúat least two memos comey shared with a friend...,[wall street],0.6808,2018-04-21,88073,0.000,0.682,0.318,21831
770,1223,‚Äúbet founder: trump's economy is bringing blac...,[economy],0.0000,2018-04-06,96192,0.000,1.000,0.000,29276
771,1224,‚Äúconsumer confidence in february highest since...,[high],0.5106,2018-03-01,46398,0.000,0.708,0.292,10322
772,1225,‚Äúdisability applications plunge as economy str...,[economy],-0.5106,2018-06-23,63995,0.268,0.732,0.000,13606
773,1226,‚Äúhome prices reach new all-time highs in augus...,"[price, high]",0.0258,2017-10-31,28458,0.000,0.909,0.091,6160
774,1228,‚Äúi have seen all of the russian ads and i can ...,[election],0.0000,2018-02-17,57317,0.000,1.000,0.000,16637
775,1229,‚Äúmanufacturing optimism rose to another all-ti...,[high],0.5423,2017-12-14,37636,0.000,0.788,0.212,8545
776,1230,‚Äúpresident trump is not getting the credit he ...,"[tax cut, economy]",0.0813,2018-01-14,109131,0.166,0.695,0.139,24099
777,1232,‚Äúpresident trump's approval rate among likely ...,[high],0.4767,2018-04-03,73242,0.000,0.860,0.140,18510
778,1233,‚Äúsome 40 u.s. companies have responded to pres...,[tax cut],-0.2732,2018-01-04,66566,0.095,0.905,0.000,16074
779,1234,"‚Äúspecial council is told to find crimes, wheth...",[election],-0.5423,2018-03-21,77191,0.149,0.851,0.000,18219
780,1235,‚Äúthe conference board said that consumer senti...,[high],0.0000,2017-11-28,39679,0.000,1.000,0.000,9080
781,1236,‚Äúthe great revolt‚Äù by salena zito and brad tod...,[election],0.8481,2018-05-07,58430,0.000,0.719,0.281,12287
782,1237,‚Äúthe highest level of bias i‚Äôve ever witnessed...,[high],-0.1027,2018-06-18,106258,0.065,0.935,0.000,27845
783,1238,‚Äúthe unemployment rate remains at a 17-year lo...,"[low, unemployment]",-0.7845,2017-12-08,63500,0.331,0.669,0.000,17080
784,1240,‚Äúthere is no serious person out there who woul...,[election],-0.4588,2018-02-20,66672,0.227,0.773,0.000,16912
785,1241,‚Äútotal jobless claims running at lowest level ...,[low],-0.3818,2018-06-07,46905,0.206,0.794,0.000,11227
786,1242,‚Äútrump rally: stocks put 2017 in the record bo...,[stock],0.0000,2017-12-31,63789,0.000,1.000,0.000,13362
787,1243,‚Äúu.s. consumer confidence hits 14-year high‚Äù h...,[high],0.5106,2018-03-16,65235,0.000,0.645,0.355,15234
788,1244,‚Äúwe ran out of words to describe how good the ...,"[jobs, jobs]",0.4404,2018-06-02,74684,0.000,0.854,0.146,16394

In [43]:
# Grouped by date 
grouped_date = merged_table.groupby(['Date']).agg({"Likes": "sum","Retweets": "sum","Compound":"mean",
                                                      "Negative":"mean","Neutral":"mean","Positive":"mean"}).apply(list).reset_index()
grouped_date

           Date   Likes  Retweets  Compound  Negative   Neutral  Positive
0    2017-05-25       0      9612  0.902000  0.000000  0.554000  0.446000
1    2017-05-26   68994     13001  0.784100  0.000000  0.777000  0.223000
2    2017-05-27  171787     37745  0.398933  0.000000  0.821333  0.178667
3    2017-05-29  134427     26799  0.470500  0.084500  0.738000  0.177500
4    2017-05-30  241119     60843 -0.494000  0.241667  0.655000  0.103667
5    2017-05-31   53463     13159 -0.057200  0.050000  0.950000  0.000000
6    2017-06-02       0     20161  0.091067  0.000000  0.965333  0.034667
7    2017-06-03  169653     50250  0.338200  0.139000  0.656000  0.205000
8    2017-06-05  467913    115176 -0.011217  0.133500  0.741000  0.125333
9    2017-06-06  184035     42046 -0.646000  0.276000  0.689500  0.034500
10   2017-06-07   92858     23430  0.000000  0.000000  1.000000  0.000000
11   2017-06-09   87654     20608  0.858800  0.000000  0.656000  0.344000
12   2017-06-11  284247     69798 -0.031267  0.111333  0.782667  0.106333
13   2017-06-12   84598     18031 -0.151100  0.157000  0.705000  0.138000
14   2017-06-13  428786     98619 -0.117967  0.140333  0.761167  0.098500
15   2017-06-15  260838     84642 -0.379100  0.179500  0.719000  0.101500
16   2017-06-16  280223     64397  0.329633  0.046333  0.652667  0.301000
17   2017-06-17   99793     19862  0.884700  0.000000  0.600000  0.400000
18   2017-06-18  280464     58869  0.502300  0.090667  0.715333  0.194000
19   2017-06-19   80330     21636 -0.670500  0.273000  0.596000  0.132000
20   2017-06-20  282860     69047 -0.064600  0.208750  0.659750  0.131250
21   2017-06-21  380929     84928  0.585550  0.022500  0.710750  0.266750
22   2017-06-22  384404    108559 -0.152825  0.103500  0.842000  0.054500
23   2017-06-23   51876      9643  0.817600  0.000000  0.667000  0.333000
24   2017-06-24  348588     89880 -0.146575  0.103750  0.828500  0.067500
25   2017-06-25  101128     25257 -0.522000  0.211000  0.695000  0.094000
26   2017-06-26       0      9096 -0.510600  0.136000  0.864000  0.000000
27   2017-06-27   69553     23868  0.116550  0.092000  0.767000  0.141000
28   2017-06-29  336764     78931  0.158750  0.124500  0.647750  0.227750
29   2017-06-30  234851     53289 -0.292867  0.185000  0.765667  0.049333
..          ...     ...       ...       ...       ...       ...       ...
280  2018-05-26  173535     43689 -0.271150  0.092000  0.883000  0.025000
281  2018-05-27  119300     29314  0.421500  0.000000  0.882000  0.118000
282  2018-05-28  262057     65382  0.166833  0.131667  0.693000  0.175333
283  2018-05-29  334996     81610 -0.084567  0.113333  0.799667  0.087000
284  2018-05-30  159109     41933  0.051600  0.272000  0.500000  0.228000
285  2018-05-31  207637     59829  0.302075  0.029000  0.640750  0.330500
286  2018-06-01  223494     51545 -0.375300  0.176000  0.776000  0.048500
287  2018-06-02  446247    136225  0.284800  0.036571  0.811286  0.152143
288  2018-06-04  383750     84572 -0.094700  0.144200  0.759000  0.096800
289  2018-06-05  212832     46280  0.308333  0.045000  0.766333  0.188667
290  2018-06-07  443512    104311 -0.074171  0.135286  0.773286  0.091429
291  2018-06-08  470074    116484 -0.383480  0.140200  0.836800  0.023000
292  2018-06-09  514948    114826  0.103040  0.067800  0.819600  0.112400
293  2018-06-11  681232    159189  0.000480  0.089200  0.814800  0.096000
294  2018-06-12  464185    110024  0.383850  0.055000  0.735500  0.209500
295  2018-06-13  782698    165889 -0.186271  0.136143  0.789429  0.074429
296  2018-06-14   78483     16560  0.802000  0.000000  0.725000  0.275000
297  2018-06-15  273775     56071  0.212467  0.082333  0.772333  0.145333
298  2018-06-17  313139     69022  0.582225  0.028000  0.740000  0.232000
299  2018-06-18  227021     54729 -0.351050  0.105000  0.895000  0.000000
300  2018-06-19   42926     10618  0.359500  0.000000  0.815000  0.185000
301  2018-06-20   42552     27292  0.371500  0.022500  0.870000  0.107500
302  2018-06-21   90332     21169  0.503350  0.040500  0.802500  0.156500
303  2018-06-22  267409     67350  0.390200  0.066000  0.689333  0.244667
304  2018-06-23  428752    121802  0.220617  0.088000  0.716667  0.195333
305  2018-06-24  320788     85371 -0.234433  0.131000  0.826333  0.042667
306  2018-06-25  260641     78934  0.375325  0.057750  0.741250  0.201000
307  2018-06-26  351363     77418  0.218475  0.058750  0.794750  0.146500
308  2018-06-27  147612     31966  0.078600  0.172500  0.547500  0.280000
309  2018-06-28  202571     48680  0.131133  0.044667  0.805667  0.149667

[310 rows x 7 columns]

In [44]:
#keeping only extremes of sentiments
# was playing around with the index we will need to figure this out

extreme_dates1 = grouped_date[(grouped_date['Compound'] >= .5) | (grouped_date['Compound'] <= -.5)].reset_index()
# extreme_dates.drop(columns=[1])
print(extreme_dates1.head())
# extremes1 = (grouped_date['Compound'] >= 0.5) ~ (grouped_date['Compound'] <= 0.5)
#print(len(extreme_dates1))

   index        Date   Likes  Retweets  Compound  Negative  Neutral  Positive
0      0  2017-05-25       0      9612    0.9020     0.000   0.5540    0.4460
1      1  2017-05-26   68994     13001    0.7841     0.000   0.7770    0.2230
2      9  2017-06-06  184035     42046   -0.6460     0.276   0.6895    0.0345
3     11  2017-06-09   87654     20608    0.8588     0.000   0.6560    0.3440
4     17  2017-06-17   99793     19862    0.8847     0.000   0.6000    0.4000

In [45]:
extreme_dates1["Date"][0]

'2017-05-25'

In [8]:
###########

In [30]:
base_url = 'https://www.alphavantage.co/query?function='


sector_url = base_url +'SECTOR&apikey='+ av_key


sector_response = requests.get(sector_url)

response_json = sector_response.json()
print(json.dumps(response_json, indent=4, sort_keys=True))

{
    "Meta Data": {
        "Information": "US Sector Performance (realtime & historical)",
        "Last Refreshed": "04:20 PM ET 06/28/2018"
    },
    "Rank A: Real-Time Performance": {
        "Consumer Discretionary": "0.76%",
        "Consumer Staples": "0.17%",
        "Energy": "-0.12%",
        "Financials": "0.86%",
        "Health Care": "0.17%",
        "Industrials": "0.16%",
        "Information Technology": "1.08%",
        "Materials": "0.44%",
        "Real Estate": "0.86%",
        "Telecommunication Services": "2.29%",
        "Utilities": "-0.02%"
    },
    "Rank B: 1 Day Performance": {
        "Consumer Discretionary": "0.76%",
        "Consumer Staples": "0.17%",
        "Energy": "-0.12%",
        "Financials": "0.86%",
        "Health Care": "0.17%",
        "Industrials": "0.16%",
        "Information Technology": "1.08%",
        "Materials": "0.44%",
        "Real Estate": "0.86%",
        "Telecommunication Services": "2.29%",
        "Utilities": "-0.02%"
    },
    "Rank C: 5 Day Performance": {
        "Consumer Discretionary": "-2.17%",
        "Consumer Staples": "0.74%",
        "Energy": "2.59%",
        "Financials": "-2.33%",
        "Health Care": "-1.52%",
        "Industrials": "-1.28%",
        "Information Technology": "-2.57%",
        "Materials": "0.33%",
        "Real Estate": "1.69%",
        "Telecommunication Services": "3.06%",
        "Utilities": "2.97%"
    },
    "Rank D: 1 Month Performance": {
        "Consumer Discretionary": "2.88%",
        "Consumer Staples": "3.78%",
        "Energy": "1.85%",
        "Financials": "-4.23%",
        "Health Care": "0.60%",
        "Industrials": "-5.41%",
        "Information Technology": "-0.32%",
        "Materials": "-1.68%",
        "Real Estate": "5.03%",
        "Telecommunication Services": "1.75%",
        "Utilities": "3.37%"
    },
    "Rank E: 3 Month Performance": {
        "Consumer Discretionary": "7.85%",
        "Consumer Staples": "-0.19%",
        "Energy": "12.11%",
        "Financials": "-2.06%",
        "Health Care": "3.59%",
        "Industrials": "-2.78%",
        "Information Technology": "8.11%",
        "Materials": "2.35%",
        "Real Estate": "6.70%",
        "Telecommunication Services": "-0.09%",
        "Utilities": "3.21%"
    },
    "Rank F: Year-to-Date (YTD) Performance": {
        "Consumer Discretionary": "10.62%",
        "Consumer Staples": "-9.80%",
        "Energy": "4.60%",
        "Financials": "-4.79%",
        "Health Care": "0.84%",
        "Industrials": "-5.79%",
        "Information Technology": "10.16%",
        "Materials": "-4.25%",
        "Real Estate": "-1.12%",
        "Telecommunication Services": "-10.25%",
        "Utilities": "-1.55%"
    },
    "Rank G: 1 Year Performance": {
        "Consumer Discretionary": "22.36%",
        "Consumer Staples": "-7.06%",
        "Energy": "17.99%",
        "Financials": "10.19%",
        "Health Care": "4.67%",
        "Industrials": "3.94%",
        "Information Technology": "28.76%",
        "Materials": "7.67%",
        "Real Estate": "0.18%",
        "Telecommunication Services": "-3.49%",
        "Utilities": "-2.09%"
    },
    "Rank H: 3 Year Performance": {
        "Consumer Discretionary": "40.49%",
        "Consumer Staples": "6.50%",
        "Energy": "0.11%",
        "Financials": "31.55%",
        "Health Care": "9.81%",
        "Industrials": "26.50%",
        "Information Technology": "72.55%",
        "Materials": "17.04%",
        "Telecommunication Services": "-4.72%",
        "Utilities": "24.01%"
    },
    "Rank I: 5 Year Performance": {
        "Consumer Discretionary": "94.91%",
        "Consumer Staples": "28.53%",
        "Energy": "-3.77%",
        "Financials": "67.40%",
        "Health Care": "73.46%",
        "Industrials": "61.42%",
        "Information Technology": "148.06%",
        "Materials": "49.31%",
        "Telecommunication Services": "-6.29%",
        "Utilities": "38.03%"
    },
    "Rank J: 10 Year Performance": {
        "Consumer Discretionary": "285.04%",
        "Consumer Staples": "93.47%",
        "Energy": "-12.93%",
        "Financials": "59.55%",
        "Health Care": "174.64%",
        "Industrials": "100.35%",
        "Information Technology": "238.55%",
        "Materials": "38.95%",
        "Telecommunication Services": "12.68%",
        "Utilities": "30.22%"
    }
}

In [46]:
symbol = '^GSPC' # ^GSPC is SP 500


time_series_url = base_url +'TIME_SERIES_DAILY&symbol='+symbol+'&outputsize=full&apikey='+ av_key

daily_response = requests.get(time_series_url)
                          
response_json2 = daily_response.json()   

opening = []
closing = []
date = []




    
    
    


    
for key in response_json2["Time Series (Daily)"]:
    
    opening.append(response_json2["Time Series (Daily)"][key]["1. open"])
    closing.append(response_json2["Time Series (Daily)"][key]["4. close"])
    date.append(key)

sp_df = pd.DataFrame({
    'Date': date,
    'S&P500 Open': opening,
    'S&P500 Close': closing
})


sp_df = sp_df[["Date", "S&P500 Open","S&P500 Close"]]
sp_df = sp_df.sort_values('Date', ascending = True)  

sp_df.head()

            Date S&P500 Open S&P500 Close
4651  2000-01-03   1469.2500    1455.2200
4650  2000-01-04   1455.2200    1399.4200
4649  2000-01-05   1399.4200    1402.1100
4648  2000-01-06   1402.1100    1403.4500
4647  2000-01-07   1403.4500    1441.4700

In [31]:
# Loop to calculate

same_day =[]
one_day = []
two_day =[]

for row in range(len(sp_df)):
   same_day_open= float(sp_df["S&P500 Open"][row])
   same_day_close= float(sp_df["S&P500 Close"][row])
   same_day_change = round(((same_day_close - same_day_open)/same_day_open ) * 100 ,2)
   same_day.append(same_day_change)
   
   if row + 1 < len(sp_df):
       prev_day_close= float(sp_df["S&P500 Close"][row])
       next_day_close = float(sp_df["S&P500 Close"][(row + 1)])
       one_day_change = round(((next_day_close - prev_day_close)/prev_day_close ) * 100 ,2)
       one_day.append(one_day_change)
       
   else:
       one_day_change = 0
       one_day.append(one_day_change)

   if row + 2 < len(sp_df):
       prev_day_close= float(sp_df["S&P500 Close"][row])
       
       two_day_close = float(sp_df["S&P500 Close"][(row + 2)])
       two_day_change = round(((two_day_close - prev_day_close)/prev_day_close ) * 100 ,2)
       two_day.append(two_day_change)
       
   else:
       two_day_change = 0
       two_day.append(two_day_change)

   
   
print (same_day[0])
print (same_day[252])

print (one_day[0])
print (one_day[251])

print (two_day[0])
print (two_day[252])

0.65
0.49
-0.61
0.87
0.25
-0.07

In [47]:
sp_df["Same Day Change"] = same_day
sp_df["One Day Change"] = one_day
sp_df["Two Day Change"] = two_day


sp_df.head()

,Date,S&P500 Open,S&P500 Close,Same Day Change,One Day Change,Two Day Change
4651,2000-01-03,1469.2500,1455.2200,0.65,-0.61,0.25
4650,2000-01-04,1455.2200,1399.4200,-1.06,0.87,0.65
4649,2000-01-05,1399.4200,1402.1100,0.03,-0.22,1.17
4648,2000-01-06,1402.1100,1403.4500,-0.94,1.39,1.20
4647,2000-01-07,1403.4500,1441.4700,-0.21,-0.19,0.45

Empty DataFrame
Columns: [index, Created, Likes, Retweets, Compound, Negative, Neutral, Positive]
Index: []
0

In [55]:
merge_table = pd.merge(extreme_dates1, sp_df, on= "Date", how = "left")
merge_table

,index,Date,Likes,Retweets,Compound,Negative,Neutral,Positive,S&P500 Open,S&P500 Close,Same Day Change,One Day Change,Two Day Change
0,0,2017-05-25,0,9612,0.902000,0.000000,0.554000,0.446000,2409.5400,2415.0701,0.36,-0.36,1.41
1,1,2017-05-26,68994,13001,0.784100,0.000000,0.777000,0.223000,2414.5000,2415.8201,-1.75,1.78,1.23
2,9,2017-06-06,184035,42046,-0.646000,0.276000,0.689500,0.034500,2431.9199,2429.3301,-0.50,0.50,0.21
3,11,2017-06-09,87654,20608,0.858800,0.000000,0.656000,0.344000,2436.3899,2431.7700,0.03,-0.03,0.38
4,17,2017-06-17,99793,19862,0.884700,0.000000,0.600000,0.400000,NaN,NaN,NaN,NaN,NaN
5,18,2017-06-18,280464,58869,0.502300,0.090667,0.715333,0.194000,NaN,NaN,NaN,NaN,NaN
6,19,2017-06-19,80330,21636,-0.670500,0.273000,0.596000,0.132000,2442.5500,2453.4600,1.03,-1.02,-1.96
7,21,2017-06-21,380929,84928,0.585550,0.022500,0.710750,0.266750,2439.3101,2435.6101,0.38,-0.38,-0.19
8,23,2017-06-23,51876,9643,0.817600,0.000000,0.667000,0.333000,2434.6499,2438.3000,-2.62,2.69,3.79
9,25,2017-06-25,101128,25257,-0.522000,0.211000,0.695000,0.094000,NaN,NaN,NaN,NaN,NaN
10,26,2017-06-26,0,9096,-0.510600,0.136000,0.864000,0.000000,2443.3201,2439.0701,-1.06,1.07,-3.76
11,31,2017-07-02,128867,29891,-0.789100,0.275000,0.725000,0.000000,NaN,NaN,NaN,NaN,NaN
12,32,2017-07-03,322969,71706,0.535133,0.106667,0.699667,0.193667,2431.3899,2429.0100,1.04,-1.03,-1.73
13,35,2017-07-07,129034,31884,0.621900,0.125000,0.617000,0.258000,2413.5200,2425.1799,0.80,-0.79,2.41
14,36,2017-07-08,93424,17121,0.571900,0.000000,0.861000,0.139000,NaN,NaN,NaN,NaN,NaN
15,39,2017-07-12,474199,112397,0.507717,0.027167,0.752000,0.220833,2435.7500,2443.2500,0.81,-0.80,1.38
16,40,2017-07-14,48567,8666,0.757900,0.000000,0.629000,0.371000,2449.1599,2459.2700,-1.40,1.42,2.26
17,41,2017-07-15,227601,43802,0.671967,0.000000,0.804000,0.196000,NaN,NaN,NaN,NaN,NaN
18,43,2017-07-17,85411,14931,0.680000,0.000000,0.728000,0.272000,2459.5000,2459.1399,-0.82,0.82,1.49
19,45,2017-07-20,57969,12450,0.624900,0.000000,0.796000,0.204000,2475.5601,2473.4500,1.96,-1.92,-1.35
20,51,2017-07-27,148233,32630,0.684600,0.000000,0.691000,0.309000,2482.7600,2475.4199,0.02,-0.02,2.03
21,53,2017-07-31,120734,28846,-0.623900,0.341000,0.467000,0.192000,2475.9399,2470.3000,0.44,-0.44,0.52
22,58,2017-08-06,0,10271,0.874800,0.000000,0.593000,0.407000,NaN,NaN,NaN,NaN,NaN
23,63,2017-08-11,267394,77964,0.647567,0.000000,0.697000,0.303000,2441.0400,2441.3201,0.50,-0.49,-2.77
24,70,2017-08-19,215073,51942,0.597050,0.083500,0.630500,0.285500,NaN,NaN,NaN,NaN,NaN
25,72,2017-08-25,0,5358,0.623900,0.000000,0.823000,0.177000,2444.7200,2443.0500,-0.57,0.58,-1.59
26,75,2017-08-31,0,9754,0.669600,0.000000,0.800000,0.200000,2462.6499,2471.6499,-0.03,0.03,2.47
27,85,2017-09-16,80209,15437,0.880500,0.000000,0.673000,0.327000,NaN,NaN,NaN,NaN,NaN
28,92,2017-09-25,81028,34913,-0.679500,0.238500,0.728500,0.033000,2499.3899,2496.6599,0.55,-0.55,0.13
29,94,2017-09-27,212769,46306,0.599100,0.053667,0.701667,0.244667,2503.3000,2507.0400,-0.02,0.02,1.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,145,2017-11-27,165523,31417,0.741900,0.076000,0.636500,0.287500,2602.6599,2601.4199,0.04,-0.04,-0.55
39,157,2017-12-13,98626,18924,0.624900,0.000000,0.823000,0.177000,2667.5901,2662.8501,0.03,-0.03,-0.97
40,179,2018-01-07,97670,19448,0.585900,0.000000,0.798000,0.202000,NaN,NaN,NaN,NaN,NaN
41,180,2018-01-08,128594,33217,-0.812600,0.359000,0.641000,0.000000,2742.6699,2747.7100,-1.82,1.86,1.64
42,181,2018-01-10,50916,11356,0.647600,0.000000,0.694000,0.306000,2745.5500,2748.2300,-0.68,0.68,-0.78
43,187,2018-01-17,259969,62204,0.695333,0.000000,0.739333,0.260667,2784.9900,2802.5601,0.07,-0.07,-1.67
44,189,2018-01-20,127503,27727,0.790600,0.000000,0.708000,0.292000,NaN,NaN,NaN,NaN,NaN
45,192,2018-01-25,149138,27247,0.624900,0.000000,0.843000,0.157000,2846.2400,2839.2500,-0.67,0.67,1.33
46,193,2018-01-27,111403,21159,0.542300,0.092000,0.677000,0.231000,NaN,NaN,NaN,NaN,NaN
47,195,2018-02-02,105532,26509,0.612400,0.087000,0.669000,0.244000,2808.9199,2762.1299,-0.25,0.25,1.53
48,196,2018-02-04,132507,28939,0.624900,0.000000,0.823000,0.177000,NaN,NaN,NaN,NaN,NaN
49,198,2018-02-07,110081,21191,0.700300,0.000000,0.784000,0.216000,2690.9500,2681.6599,-1.92,1.96,2.41
50,202,2018-02-12,66196,13818,0.831600,0.000000,0.659000,0.341000,2636.7500,2656.0000,-0.73,0.74,2.01
51,208,2018-02-22,100456,21790,-0.836000,0.372000,0.628000,0.000000,2710.4199,2703.9600,-0.84,0.85,1.45
52,209,2018-02-23,46854,8733,0.778300,0.000000,0.688000,0.312000,2715.8000,2747.3000,-0.59,0.59,-1.03
53,211,2018-02-27,106551,25006,0.844100,0.040500,0.552500,0.407000,2780.4500,2744.2800,-0.39,0.39,2.61
54,219,2018-03-08,47477,9021,0.658800,0.000000,0.672000,0.328000,2732.7500,2738.9700,3.33,-3.22,-2.90
55,226,2018-03-16,65235,15234,0.510600,0.000000,0.645000,0.355000,2750.5701,2752.0100,-5.83,6.19,8.15
56,231,2018-03-26,165106,34554,0.575750,0.000000,0.637000,0.363000,2619.3501,2658.5500,0.94,-0.93,-0.44
57,233,2018-03-28,345757,77977,0.634375,0.000000,0.769750,0.230250,2611.3000,2605.0000,-0.75,0.75,0.26
58,239,2018-04-05,118802,25484,0.565850,0.045500,0.642000,0.312000,2657.3601,2662.8401,-1.06,1.07,1.31
59,244,2018-04-10,105099,22013,0.812200,0.000000,0.684000,0.316000,2638.4099,2656.8701,1.78,-1.75,-2.19
60,246,2018-04-13,109927,24860,0.599400,0.000000,0.843000,0.157000,2676.8999,2656.3000,-0.54,0.54,0.13
61,258,2018-04-29,144333,26585,0.535500,0.000000,0.813000,0.187000,NaN,NaN,NaN,NaN,NaN
62,259,2018-04-30,91537,19535,-0.648600,0.238000,0.690000,0.073000,2682.5100,2648.0500,1.98,-1.95,-2.13
63,261,2018-05-03,77986,15696,0.734500,0.000000,0.754000,0.246000,2628.0801,2629.7300,1.36,-1.34,-2.42
64,271,2018-05-14,134156,31492,-0.871800,0.310000,0.690000,0.000000,2738.4700,2730.1299,0.04,-0.04,0.99
65,296,2018-06-14,78483,16560,0.802000,0.000000,0.725000,0.275000,2783.2100,2782.4900,-0.68,0.69,-0.38
66,298,2018-06-17,313139,69022,0.582225,0.028000,0.740000,0.232000,NaN,NaN,NaN,NaN,NaN
67,302,2018-06-21,90332,21169,0.503350,0.040500,0.802500,0.156500,2769.2800,2749.7600,1.12,-1.11,-3.72

In [54]:
# count = merge_table['S&P500 Open'].value_counts()
# len(count)
merge_table1=merge_table.dropna(axis=0)
print(len(merge_table1))

49

In [57]:
# f_date = dt(2014,7,27)
# l_date = dt(2014, 7, 29)

# delta = l_date - f_date


# print (delta.days)

2